.setup-wizard {
  background-color: $body-background-color;
  &__container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 930px;
  }

  &__content {
  }

  &__header-content {
    .setup-wizard__logo-container {
      text-align: center;
      padding: 32px 0;

      @media (max-width: 768px) {
        padding: 28px 0;
      }
  
      figure {
        margin: 0;
        .setup-wizard__wizard-logo {
          max-width: 100%;
          height: auto;
        }
      }
    }
  
    .setup-wizard__progress-bar-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
  
      .setup-wizard__progress-bar {
        width: 100%;
        text-align: center;
        display: flex;
        border-radius: 10px;
        background: #fff;
        overflow: hidden;
  
        .setup-wizard__progress-step {
          flex-grow: 1;
          position: relative;
          padding: 15px 16px 15px 50px;
          background-color: transparent;
  
          &:first-child {
            padding: 15px 16px;
          }
  
          &:before {
            content: "";
            position: absolute;
            z-index: 2;
            top: 0px;
            bottom: 0;
            right: -18px;
            margin: auto 0;
            width: 40px;
            height: 42px;
            background: rgb(255 255 255);
            transform: rotate(-43deg);
            clip-path: polygon(100% 2%, 2% 100%, 100% 100%);
            border-radius: 0 0 10px 0;
            border-right: 2px solid #ebeff5;
            border-bottom: 2px solid #ebeff5;
          }
  
          p {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            gap: 9px;
            margin: 0;
            font-family: $primary-font;
            color: $description-color;
  
            span {
              border: 1px solid $secondary-color;
              border-radius: 50%;
              width: 24px;
              height: 24px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
  
          &--not-visited {
            p {
              color: #73707d;

              
  
              span {
                border: 1px solid rgba(229, 232, 243, 1);
                color: rgba(36, 34, 60, 0.2);
                  &:nth-child(1){
                    display: none;
                  }
              }
            }
          }
  
          &--active {
            background: $secondary-color;
            color: #ffffff;
            p{

              font-weight: 400;
              color: #fff;

              span{
                &:nth-child(1){
                  display: none;
                }

                border: 1px solid #ffffff;
              }
            }
  
            &:before {
              background: $secondary-color;
              border-right: none;
              border-bottom: none;
            }
          }
  
          &--visited {
            background: #ffffff;
            p {
              font-weight: 600;
              color: $description-color;
  
              span {
                display: flex;
                align-items: center;
                justify-content: center;

                &:nth-child(2){
                  display: none;
                }
  
                svg {
                  width: 9px;
                  height: 9px;
                }
              }
            }
          }
        }
      }
    }
  }

  &__body-content {
    // step 1
    // welcome section
      .setup-wizard__welcome-section-container {
        @extend %section-container;
    
        .setup-wizard__welcome-text-content {
          margin-bottom: 25px;
        }
    
        .setup-wizard__welcome-video-container {
          position: relative;
          margin-bottom: 28px;
    
          .setup-wizard__welcome-video-preview {
            max-width: 836px;
            width: 100%;
            margin: 0 auto;
            border-radius: 10px;
          }
    
          iframe {
            height: 480px;
            width: 836px;
            margin: 0 auto;
    
            @media (max-width: 1240px) {
              width: 750px;
            }
            @media (max-width: 1024px) {
              height: 400px;
              width: 650px;
            }
          }
    
      }
    
      .setup-wizard__video-play-button {
        position: absolute;
        top: 42%;
        left: 45%;
    
        button{
          border: none;
          cursor: pointer;
          background: none;
        }
      }
    
      .setup-wizard__main-buttons {
        @extend %button-container;
    
        .setup-wizard__button-left {
          @extend %common-button;
          color: $color-white;
          background-color: $primary-color;
        }
        .setup-wizard__button-right {
          @extend %common-button;
          color: $heading-color;
          border: 1px solid #ebe4ff;
          background: #f7f4ff;
        }
      }
    }
  
    // feature section
    .setup-wizard__features-section-container {
      @extend %section-container;
  
      .setup-wizard__features-text-content {
        margin-bottom: 50px;
      }
  
      .setup-wizard__feature-lists {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 165px;
        row-gap: 50px;

        @media (max-width: 768px) {
          column-gap: 50px;
          row-gap: 40px;
        }
        .setup-wizard__single-feature {
          display: flex;
          align-items: start;
          gap: 27px;
          .setup-wizard__feature-image {

            img{
              // width: 35px;
              @media (max-width: 768px) {
                width: 30px;
              }
            }
          }
          .setup-wizard__feature-text-content {
            .setup-wizard__feature-heading {
              color: $heading-color;
              font-family: Urbanist;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: 27px;

              @media (max-width: 768px) {
                font-size: 17px;
              }
            }
            .setup-wizard__feature-description {
              color: $description-color;
              font-family: $primary-font;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 1.6;
              margin-top: 3px;

              @media (max-width: 768px) {
                font-size: 15px;
              }
              
            }
          }
        }
      }
  
      .setup-wizard__feature-list-button-container{
        margin-top: 42px;
        margin-bottom: 67px;
        @media (max-width: 768px) {
          margin-bottom: 50px;
        }
  
        .setup-wizard__feature-list-button{
          @extend %common-button;
          background: #F7F4FF; 
          border: 1px solid #EBE4FF;
          font-weight: 700; 
          font-size: 16px; 
          line-height: 1.6;
          text-transform: uppercase;
          letter-spacing: 1.6px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
          color: $primary-color;

          @media (max-width: 768px) {
            font-size: 15px;
          }
        }
      }
  
      .setup-wizard__pro-features-section-container{
        background: linear-gradient(100.82deg, #C0ECFF 0.77%, #E0F6FF 20.23%, #F4F0FF 79.76%, #E7DEFF 100.21%);
  
        .setup-wizard__pro-features{
          padding: 38px 46px 46px 46px;

          @media (max-width: 768px) {
            padding: 34px 40px 40px 40px;
          }

          .setup-wizard__pro-features-text-content {
            margin-bottom: 28px;

            @media (max-width: 768px) {
              margin-bottom: 24px;
            }
    
            .setup-wizard__pro-feature-heading{
              color: #0E003C;
              font-family: Inter;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 42px;

              @media (max-width: 768px) {
                font-size: 22px;
              }
    
              .setup-wizard__pro-feature-heading-highlight{
                color: #3F04FE;
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 42px;
              }
            }
          }
  
          .setup-wizard__pro-feature-lists{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 143px;
            row-gap: 25px;

            @media (max-width: 768px) {
              column-gap: 60px;
              row-gap: 20px;
            }
  
            .setup-wizard__single-pro-feature{
              display: flex;
              align-items: center;
              justify-content: start;
              gap: 17px;
  
              .setup-wizard__single-pro-feature-icon{
  
              }
              .setup-wizard__single-pro-feature-title{
              color: #000;
              font-family: Urbanist;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 27px;

              @media (max-width: 768px) {
                font-size: 17px;
              }
              }
            }
          }
        }
        .setup-wizard__pro-features-price{
          position: relative;
          p{
          color: #73707D;
          text-align: center;
          font-family: Urbanist;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          padding: 23px 40px;
          border-top: 1px solid #FFF;
          position: relative;

          @media (max-width: 768px) {
            font-size: 18px;
            padding: 20px 40px;
          }
          }
          .setup-wizard__pro-features-price-amount{
            color: #3F04FE;
            font-family: Urbanist;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;

            @media (max-width: 768px) {
              font-size: 22px;
            }
          }

          .setup-wizard__pro-features-price-tag{
            position: absolute;
            font-family: "Urbanist", sans-serif;
            right: 0;
            top: -21px;
            display: block;
            border-radius: 16px 16px 16px 0px;  
            background: #3f04fe;
            font-size: 13px;
            color: #ffffff;
            font-weight: 600;
            padding: 8px 9px;
            text-transform: capitalize;
            z-index: 1;
            line-height: 0.8;
            transform: translate(-50%, -50%);
            top: 10px;
            left: 50%;
            max-width: 75px
          }
        }
        .setup-wizard__pro-feature-list-button-container{
    
          .setup-wizard__pro-feature-list-button{
            @extend %common-button;
            background: $primary-color; 
            font-weight: 500; 
            font-size: 16px; 
            font-family: $primary-font;
            line-height: 1.6;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            color: $color-white;
          }
        }
      }
  
  
  
      // end here
  
      // .setup-wizard__main-buttons {
      //   @extend %button-container;
      //   margin-top: 20px;
  
      //   .setup-wizard__button-left {
      //     @extend %common-button;
      //     color: $color-white;
      //     background-color: $primary-color;
      //   }
      //   .setup-wizard__button-right {
      //     @extend %common-button;
      //     color: $primary-color;
      //     border: 1px solid #ebe4ff;
      //     background: #f7f4ff;
      //   }
      // }
    }

      // footer button section
      .setup-wizard__footer-buttons {
        @extend %button-container;
        padding-top: 30px;
        padding-bottom: 153px;
    
        .setup-wizard__button-left {
          @extend %common-button;
          color: $color-white;
          background-color: $primary-color;
        }
        .setup-wizard__button-right {
          @extend %common-button;
          color: $primary-color;
          border: 1px solid #ebe4ff;
          background: #f7f4ff;
          box-shadow: 0px 1px 1px 0px rgba(63, 4, 254, 0.10);
        }
      }

    // step 2
    // industry section
    .setup-wizard__industry-section-container{
      @extend %section-container;

      .setup-wizard__industry-text-content {
        margin-bottom: 35px;
      }

      .setup-wizard__popular-industries {
        max-width: 820px;
        margin: 0 auto;
        
        .setup-wizard__popular-industry-list{
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          gap: 18px;
          margin-top: 28px;

          .setup-wizard__single-industry{
            border: 1.5px solid #EAE4FF;
            border-radius: 10px;
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
            cursor: pointer;
            transition: all 0.3s;

            @media (max-width: 768px) {
              padding: 18px 5px;
              gap: 20px;
            }

            &:hover{
              border: 1.5px solid #3F04FE; 
              box-shadow: 0px 9px 14px rgba(184, 196, 217, 0.5);
            }

            .setup-wizard__single-industry-title{
              color: #363B4E;
              font-size: 14px;
              text-align: center;
              font-style: normal;
              font-weight: 500;
              line-height: 1.14;
              margin: 0;
              font-family: 'Roboto', sans-serif;

              @media (max-width: 768px) {
                font-size: 13px;
              }
            }

            &:hover .setup-wizard__single-industry-image path {
              fill: #3F04FE;
            }
          }

          .active{
            border: 1.5px solid #3F04FE; 
            box-shadow: 0px 9px 14px rgba(184, 196, 217, 0.5);

          .setup-wizard__single-industry-image path{
            fill: #3F04FE;
          }
        }
        }
      }
    }

    // general settings section
    .setup-wizard__settings-section-container{
      @extend %section-container;

      .setup-wizard__settings-text-content {
        margin-bottom: 20px;
      }

      // checkbox section
      .setup-wizard__settings-content{
        margin-top: 30px;
        max-width: 632px;
        margin-left: auto;
        margin-right: auto;

        .setup-wizard__settings-single-content {
         margin-bottom: 25px;
         position: relative;

         .setup-wizard__settings-single-content--pro-content{
          position: absolute;
          font-family: $primary-font;
          right: 0;
          top: -21px;
          display: block;
          border-radius: 9px 9px 9px 0px;
          background: $primary-color;
          font-size: 13px;
          color: #ffffff;
          font-weight: 600;
          padding: 5px 6px;
          text-transform: capitalize;
          z-index: 1;
          line-height: 0.8;

          @media (max-width: 768px) {
            top: -20px;
            font-size: 12px;
          }
         }

          &:last-child {
            margin-bottom: 0;
          }

          input[type="checkbox"] {
            display: none;
          }
        
          input[type="checkbox"] + label {
            display: inline-block;
            text-align: start;
            font-size: 15px;
            font-weight: 400;
            font-family: 'Inter', sans-serif;
            color: #626A70;
            position: relative;
            cursor: pointer;
            line-height: 25px;
            padding: 17px 40px 17px 68px;
            width: 100%;
            background: #FAF9FF; 
            border: 1px solid #EAE4FF; 
            border-radius: 3px;
            transition: all 0.3s;

            @media (max-width: 768px) {
              font-size: 14px;
              padding: 15px 40px 15px 68px;
            }
          }
        
          input[type="checkbox"] + label:before {
            content: "";
            display: inline-block;
            width: 25px;
            height: 25px;
            position: absolute;
            left: 40px;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #FFFFFF;
            border: 1px solid #D8CCFF;
            border-radius: 4px;

            @media (max-width: 768px) {
              width: 23px;
              height: 23px;
            }
          }
        
          input[type="checkbox"]:checked + label:before {
            content: "";
            background-color: #3f04fe;
            background-image: url('data:image/svg+xml;utf8,<svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 6.625L4.375 10L13.375 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            background-repeat: no-repeat;
            background-position: center;
            border: none;
          }

          input[type="checkbox"] + label:hover {
            border-color: #3F04FE;
          }
        }
        

        .rex-wpvr-setup-wizard-legal-text {
          color: #6C798F;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.71;
          text-align: left;
          margin-top: 8px;
          font-family: 'Inter';


          & a {
            color: #3F04FE;
          }
        }
      }
    }

          // footer button section
      .setup-wizard__footer-buttons {
        @extend %button-container;
        padding-top: 30px;
        padding-bottom: 153px;
    
        .setup-wizard__button-left {
          @extend %common-button;
          color: $color-white;
          background-color: $primary-color;
        }
        .setup-wizard__button-right {
          @extend %common-button;
          color: $primary-color;
          border: 1px solid #ebe4ff;
          background: #ffffff;
          box-shadow: 0px 1px 1px 0px rgba(63, 4, 254, 0.10);
        }
      }

    // step 3
    // done section
    .setup-wizard__done-section-container{
      @extend %section-container;

      .setup-wizard__done-text-content{
        margin-bottom: 40px;
        @media (max-width: 768px) {
          margin-bottom: 30px;
        }
      }

      .setup-wizard__done-text-content--done-icon{
        display: flex;
        align-items: end;
        justify-content: center;
        gap: 30px;

        @media (max-width: 768px) {
          gap: 20px;
        }

      }

      .setup-wizard__testimonial{
        padding: 25px 30px 50px 30px;
        border: 1px solid #F5F2FF;
        border-radius: 10px;

        @media (max-width: 768px) {
          padding: 25px 30px 35px 30px;
        }
        .setup-wizard__testimonial-title{
          color: #0E003C;
          font-family: Urbanist;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 34px;
          margin-bottom: 50px;

          @media (max-width: 768px) {
            font-size: 22px;
          }
        }
        .setup-wizard__testimonial-card{
          display: flex;
          align-items: start;
          justify-content: center;
          gap: 35px;
          .setup-wizard__testimonial-single-card{
            position: relative;
            border-radius: 5px;
            background: linear-gradient(115deg, #DDD3FF -22.47%, #F3EFFF 41.78%, #ECF7FF 100%);
            box-shadow: 0px 1px 1px 0px rgba(63, 4, 254, 0.15);
            padding: 30px;
            width: 100%;

            @media (max-width: 768px) {
              padding: 25px;
            }
            .setup-wizard__testimonial-text-content{
              color: #0E003C;
              font-family: $primary-font;
              font-size: 15px;
              font-style: italic;
              font-weight: 500;
              line-height: 26px;
            }
            .setup-wizard__testimonial-text-author{
              margin-top: 18px;
              color: #0E003C;
              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 26px;

              @media (max-width: 768px) {
                margin-top: 15px;
                font-size: 17px;
              }
            }
            .setup-wizard__testimonial-quote-icon{
              position: absolute;
              top: -65px;
              left: 0px;
              
            }
          }
        }
      }

      .setup-wizard__subscribe-button-container{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 11px;
        margin-top: 24px;

        @media (max-width: 768px) {
          align-items: start;
        }

        p{
          color: #73707D;
          font-family: Urbanist;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 2.1;

          @media (max-width: 768px) {
            font-size: 15px;
            line-height: 1.5;
          }
        }

        // switcher
        .switch {
          position: relative;
          display: inline-block;
          width: 42px;
          height: 22px;

        @media (max-width: 768px) {
          margin-top: 5px;
        }

        }
        
        .switch input { 
          opacity: 0;
          width: 0;
          height: 0;
        }
        
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        .slider:before {
          position: absolute;
          content: "";
          height: 18px;
          width: 18px;
          left: 4px;
          bottom: 2px;
          background-color: white;
          transition: 0.4s;
        }
        
        input:checked + .slider {
          background-color: $primary-color;
        }
        
        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
          -webkit-transform: translateX(16px);
          -ms-transform: translateX(16px);
          transform: translateX(16px);
          @media (max-width: 768px) {
            -webkit-transform: translateX(12px);
            -ms-transform: translateX(12px);
            transform: translateX(12px);
          }
          
        }
        
        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }
        
        .slider.round:before {
          border-radius: 50%;
        }
        
        
      }
    }
  }


}
